@model ResumeSearch.Web.Models.ResumeListVM

@Html.Partial("~/Views/Shared/NotificationPartial.cshtml", Model.Notification)
<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <tr>
                <th>
                </th>
                <th>
                    Title
                </th>
                <th>
                    Date
                </th>
                <th>
                    Description
                </th>
                <th></th>
            </tr>

            @{ 
                for(var i = 0; i < Model.Resumes.Count; i++)
                {
                <tr>
                    <td>
                        @Html.HiddenFor(m => m.Resumes[i].Id)
                        @Html.CheckBoxFor(m => m.Resumes[i].IsChecked, 
                            new { @class = "resumeChk", @onchange = "my.resumeListPartial.check(this," +  Model.Resumes[i].Id + ")", data_id = Model.Resumes[i].Id })
                        
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Resumes[i].Title)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Resumes[i].UploadDate)
                    </td>
                    <td>
                        <span class="descDropSpan">Show</span>
                        <div class="descDropDiv">@Model.Resumes[i].Description</div>
                    </td>
                    <td>
                        @Html.ActionLink("View", "Download", "Resume", new { id = Model.Resumes[i].Id }, null) |
                        @Ajax.ActionLink("Delete", "Delete", "Resume", new { id = Model.Resumes[i].Id },
                    new AjaxOptions()
                {
                    HttpMethod = "DELETE",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "resumeList",
                        OnBegin = "my.utility.block('#resumeList', true)",
                        OnComplete = "my.utility.block('#resumeList', false)"
                    },
                    null)

                    </td>
                </tr>
                    }
                }

        </table>
    </div>
</div>

<script type="text/javascript">
    my.resumeListPartial.init();
</script>